<section class="breadcrumbs-section background_bg" data-img-src="image/shop-breadcrumbs-img.jpg">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
                <div class="page_title text-center">
                	<h1>shop List</h1>
                    <ul class="breadcrumb justify-content-center">
                    	<li><a href="index.html">home</a></li>
                        <li><a href="#">shop</a></li>
                        <li><span>shop List</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>