{% load static %}


<section>
	<div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="servicebox">
                    <div class="service-icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="fb-text">
                    	<h5>FREE DELIVERY</h5>
                    	<span>Worldwide</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="servicebox">
                    <div class="service-icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div class="fb-text">
                    	<h5>24/ 7 SUPPORT</h5>
                    	<span>Customer Support</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="servicebox">
                    <div class="service-icon">
                        <i class="fa fa-cc-mastercard"></i>
                    </div>
                    <div class="fb-text">
                    	<h5>PAYMENT</h5>
                    	<span>Secure System</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="servicebox">
                    <div class="service-icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="fb-text">
                    	<h5>TRUSTED</h5>
                    	<span>enuine Products</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service Section -->


<!-- Start Footer Section -->
<footer class="border-top">
	<div class="footer-top bg-white pb-2 pb-lg-5">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-4 col-md-12 col-sm-12">
                	<div class="footer-box box-1">
                    	<h6 class="fb-title">NEWSLETTER</h6>
                        <div class="fb-iner">
                            <form class="newsletter-form">
                                <div class="outline-input">
                                    <input type="text" required="" placeholder="Enter Email Address">
                                </div>
                                <button type="submit" title="Subscribe" class="btn btn-submit border-0 btn-primary" name="submit" value="Submit">submit</button>
                            </form>
                        </div>
                        <h6 class="fb-title mt-4">PAYMENT RECEICED IN</h6>
                        <div class="fb-iner">
                        	<div class="payment-img">
                                <img src="{% static 'image/payment.png' %}" alt="payment-img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 order-md-last">
                	<div class="footer-box box-4">
                    	<h6 class="fb-title">CONTACT INFO</h6>
                        <div class="fb-iner">
                        	<ul>
                            	<li><i class="ion-ios-location-outline"></i><p>c/o Giunti International Division Via G.B. Pirelli, 30 20124 Milan</p></li>
                                <li><i class="ion-ios-telephone-outline"></i><p>+025 2155 3255</p></li>
                                <li><i class="ion-ios-email-outline"></i><a href="#">info@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                	<div class="footer-box box-2">
                    	<h6 class="fb-title">CATEGORIES</h6>
                        <div class="fb-iner">
                        	<ul class="footer-links">
                            	<li><a href="#">Fashion Sneakers</a></li>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">Outdoor Shop</a></li>
                                <li><a href="#">Pants</a></li>
                                <li><a href="#">Shirts & Tops</a></li>
                                <li><a href="#">Swim Shop</a></li>
                                <li><a href="#">Swimwear</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                	<div class="footer-box box-3">
                    	<h6 class="fb-title">MY ACCOUNT</h6>
                        <div class="fb-iner">
                        	<ul class="footer-links">
                            	<li><a href="#">Orders</a></li>
                                <li><a href="#">Compare</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Log In</a></li>
                                <li><a href="#">Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

			</div>
        </div>
    </div>


    <div class="footer-btm bg-dark">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-4">
                	<div class="footer-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            	<div class="col-md-4">
                	<div class="copyright text-center">
                    	<p>Copyright © 2018. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-md-4 text-md-right">
                	<div class="ft_link_inline footer_link_white">
                    	<ul>
                        	<li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->
