{% load static %}
<header class="header-3">
        <div class="header-top bg-white">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-sm-3">
                        <div class="header-logo">
                            <a href="#"><img src="{% static 'image/logo.png' %}" alt="111111111logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-9 order-lg-last">
                        <ul class="header-options">

                            <li class="header-cart">
                                <a href="#">
                                    <div class="cart-icon">
                                        <i class="bi bi-person-circle"></i>
                                        <span>{{ usercart.user.username.0 | title }}</span>
                                    </div>My Account
                                </a>
                                <div class="cart-box cart_box_left">
                                    <div class="cart-info">
                                        <div class="cart-prodect justify-content-between">

                                            <div class="cart-product">
                                                <a href="#"><i class="bi bi-box-arrow-in-right"></i>login</a>

                                            </div>
                                        </div>
                                        <div class="cart-prodect justify-content-between">

                                            <div class="cart-product">
                                                <a href="#"><i class="bi bi-pencil-square"></i>register</a>

                                            </div>
                                        </div>
                                        <div class="cart-prodect justify-content-between">

                                            <div class="cart-product">
                                                <a href="#"><i class="bi bi-box-arrow-left"></i>logout</a>

                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </li>


                            <li class="header-cart">
                                <a href="#">
                                    <div class="cart-icon">
                                        <i class="bi bi-bookmark-heart"></i>
                                        <span>{{ usercart.wishlist | length }}</span>
                                    </div>Wishlist
                                </a>
                            </li>
                            <li class="header-cart">
                                <a href="#">
                                    <div class="cart-icon">
                                       <i class="bi bi-cart4"></i>
                                        <span>{{ usercart.cart | length }}</span>
                                    </div>Cart

                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <form method="get" class="header-form form-sm search_wrap pull-right">
                            <input name="search" class="search-box" placeholder="Search Product..." required type="search" >
                            <button type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="header-btm border-0 navy-dark-bg h-auto">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9 col-12 m_menu">
                        <div class="d-lg-none">
                            <div class="form-captions" id="search">
                                <button type="submit" class="submit-btn-2"><i class="fa fa-search"></i></button>
                            </div>
                            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                        </div>
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a href="#">Store</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about-us.html">About us</a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5 col-8 ml-auto pr-0">
                        <div class="menu-wrap position-relative">
                            <button type="button" class="categories-btn btn-block">
                                <i class="ion-ios-list-outline"></i><span>All Categories </span>
                            </button>
                            <nav id="mega-dropdown-menu" class="section-shadow">
                                <ul class="list-unstyled components">
                                    <li>
                                        <a class="dropdown-toggler" href="#" data-toggle="dropdown" aria-expanded="false">shirt<i class="ion-plus-round plus-icon"></i><i class="ion-minus-round minus-icon"></i></a>
                                        <ul class="dropdown-menu list-unstyled">
                                            <li>
                                                <a href="#">The Crew Neck shirt</a>
                                            </li>
                                            <li>
                                                <a href="#">The V Nec shirt</a>
                                            </li>
                                            <li>
                                                <a href="#">The Henley - Y neck shirt</a>
                                            </li>
                                            <li>
                                                <a href="#">Polo t shirt collar shirt</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-toggler" href="#" data-toggle="dropdown" aria-expanded="false">t-shirt<i class="ion-plus-round plus-icon"></i><i class="ion-minus-round minus-icon"></i></a>
                                        <ul class="dropdown-menu list-unstyled">
                                            <li>
                                                <a href="#">The Scoop Neck style t-Shirt</a>
                                            </li>
                                            <li>
                                                <a href="#">Polo t shirt collar styles t-Shirt</a>
                                            </li>
                                            <li>
                                                <a href="#">Raglan sleeve types t-Shirt</a>
                                            </li>
                                            <li>
                                                <a href="#">Sleeveless t-Shirt</a>
                                            </li>
                                            <li>
                                                <a href="#">Cap sleeves t-Shirt</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">party suit</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-toggler" href="#" data-toggle="dropdown" aria-expanded="false">women's fashion<i class="ion-plus-round plus-icon"></i><i class="ion-minus-round minus-icon"></i></a>
                                        <ul class="dropdown-menu list-unstyled">
                                            <li>
                                                <a href="#">Skirts</a>
                                            </li>
                                            <li>
                                                <a href="#">Dresses </a>
                                            </li>
                                            <li>
                                                <a href="#">Westarn Wear</a>
                                            </li>
                                            <li>
                                                <a href="#">Ethic Wear</a>
                                            </li>
                                            <li>
                                                <a href="#">Sport Wear</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-toggler" href="#" data-toggle="dropdown" aria-expanded="false">man's fashion<i class="ion-plus-round plus-icon"></i><i class="ion-minus-round minus-icon"></i></a>
                                        <ul class="dropdown-menu list-unstyled">
                                            <li>
                                                <a href="#">Sports Wear</a>
                                            </li>
                                            <li>
                                                <a href="#">Western Wear</a>
                                            </li>
                                            <li>
                                                <a href="#">Ethic Wear</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">summer cloths</a>
                                    </li>
                                    <li>
                                        <a href="#">monsoon cloths</a>
                                    </li>
                                    <li>
                                        <a href="#">winter cloths</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>